body{

    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#afafaf;
}
/*Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    
}

/*Header **/
header{
    background:#7b79f7;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#c8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    float:left;
    display:inline;
    padding: 0 0 0 0;
}